body {
    margin: 0;
    padding: 0;
}

#MyViewerDiv {
    border: 1px solid #D4D4D4;
}


#MyControls {
    position: absolute;
    /* top: 5px; */
    /* left: 5px; */
    right: 15px;
    bottom: 15px;
    z-index: 1;
    /* padding: 1em; */
    /* font-size: 1em; */
    /* cursor: pointer; */
    /* box-shadow: 5px 5px 5px #888888; */
    border: 1px solid #D4D4D4;
    background-color: white;
    border-radius: 5px;
}

#autodesk_logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}
#autodesk_logo img {
    max-width: 50%;
}

#myUI {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    /*width: 600px;*/
    /*background-color: blanchedalmond;*/
    pointer-events: bounding-box;
}


.element {
    /*background-color: red;*/
    background-color: rgba(0,127,127,0.5);
    width: 120px;
    /*height: 160px;*/
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    text-align: center;
    /*transition: all 1s;*/
}
.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}

.cssOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.toolbarCameraRotation {
    background-image: url(../img/emblem_camera.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
}

.ScreenShotToolbarButton {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='camera-retro' class='svg-inline--fa fa-camera-retro fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H48zm0 32h106c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H38c-3.3 0-6-2.7-6-6V80c0-8.8 7.2-16 16-16zm426 96H38c-3.3 0-6-2.7-6-6v-36c0-3.3 2.7-6 6-6h138l30.2-45.3c1.1-1.7 3-2.7 5-2.7H464c8.8 0 16 7.2 16 16v74c0 3.3-2.7 6-6 6zM256 424c-66.2 0-120-53.8-120-120s53.8-120 120-120 120 53.8 120 120-53.8 120-120 120zm0-208c-48.5 0-88 39.5-88 88s39.5 88 88 88 88-39.5 88-88-39.5-88-88-88zm-48 104c-8.8 0-16-7.2-16-16 0-35.3 28.7-64 64-64 8.8 0 16 7.2 16 16s-7.2 16-16 16c-17.6 0-32 14.4-32 32 0 8.8-7.2 16-16 16z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}